<script type='text/javascript' src='/jwplayer/jwplayer.js'></script>

<div>
	
	<p>
		<div id='mediaplayer'></div>

		<script type="text/javascript">
		  jwplayer('mediaplayer').setup({
		    'id': 'playerID',

		    'backcolor': '3A3A3C',
			'frontcolor': 'FF3333',
			'lightcolor': 'FF3333',
			'screencolor': '3A3A3C',
			'dock': 'false',
			'stretching': 'fill',
			'controlbar': 'bottom',
			'preloader': true,
		    'width': '320',
		    'height': '240',

		    'provider': 'rtmp',
		    'streamer': 'rtmp://tv.realtimeguru.com.br:1935/tomtv',
		    'file': 'tv',
   
		    'modes': [
		        {type: 'flash', src: '/jwplayer/player.swf'},

		        {
		          type: 'html5',
		          config: {
		           'file': 'http://tv.realtimeguru.com.br:1935/tomtv/tv/playlist.m3u8',
		           'provider': 'video'
		          }
		        }
		    ]
		  });
		</script>
	</p>
	
	<i class="icon-facetime-video"></i>
	<%= link_to "Player on Android", "rtsp://tv.realtimeguru.com.br:1935/tomtv/_definst_/tv", :target => "blank" %>
	
</div>

